<!DOCTYPE html><html>
    <head>
	{{ with .Page }}
        {{if .Page.Params.vanity -}}
          <meta name="go-import" content="{{.Params.root}}{{substr .RelPermalink 0 -1}} git {{.Params.vanity}}">
  <meta name="go-source" content="{{.Params.root}}{{substr .RelPermalink 0 -1}} https://{{.Params.vanity}} https://{{.Params.vanity}}/tree/main{/dir} https://{{.Params.vanity}}/blob/main{/dir}/{file}#L{line}">
        {{- end}}
	{{- end}}
        <title>{{ .Permalink }}</title>
        <link rel="canonical" href="{{ .Permalink }}"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<noscript><meta http-equiv="refresh" content="0; url={{ .Permalink }}" /></noscript>
	<style>
@media (prefers-color-scheme: dark) {
	:root {
color: white;
background-color: black;
}
}
	</style>
    </head>
    <body>
	    Redirecting to <a href="{{ .Permalink }}"> {{ .Permalink }} </a>

	    <!--https://stackoverflow.com/a/29706770/8919142, refresh using JS with query and fragment, else using regular html-->
	    <script>window.location.href = "{{ .Permalink }}" + (window.location.search || '') + (window.location.hash || '');</script>
    </body>
</html>
